{% extends 'base.html.twig' %}

{% block title %}Jeu{% endblock %}

{% block body %}
    <h1>Jeu</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ jeu.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ jeu.titre }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ jeu.photo }}</td>
              
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ jeu.description }}</td>
                
            </tr>
           

        </tbody>
    </table>

    <a href="{{ path('app_admin_jeu_index') }}">back to list</a>

    <a href="{{ path('app_admin_jeu_edit', {'id': jeu.id}) }}">edit</a>

    {{ include('admin_jeu/_delete_form.html.twig') }}
{% endblock %}
